<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About</title>
    {%  load static %}
    <link rel="icon" href="{% static 'assets/img.png' %}">
    <link rel="stylesheet" href="{% static 'css/about.css' %}">

    <a href="{% url 'gallary' %}">Gallary</a>
    <a href="{% url 'home' %}">home</a>


</head>
<body>
<h1>Additional information about shopdish</h1>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque dignissimos doloremque ducimus, earum error, et fugit illo ipsa itaque, iure perferendis perspiciatis quibusdam quo reiciendis rem repellat reprehenderit sequi. Molestiae.</span><span>Ab blanditiis corporis, dignissimos dolor doloribus eos eum hic illum incidunt ipsum iste itaque nam neque numquam odio omnis placeat possimus, quae quas quo quos sapiente sint tenetur vel voluptatum?</span></p>

<h2>why choose us</h2>
<div id="main">

    <div class="mydiv">
        <img src=" {% static 'assets/watch1.png' %}" alt="">
        <h3>Watch1</h3>
        <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda dolore, eaque eos impedit ipsum molestias odio sequi tempora? Aperiam ipsa iure molestiae quos sed! Ex expedita iste nisi quia voluptatem!</span><span>Ab aliquam amet at expedita hic inventore, magnam minus nobis nulla officia placeat, porro reiciendis tenetur, velit voluptatum. Quibusdam, ratione ut? Dolore doloremque eius, eligendi mollitia nesciunt quia quibusdam totam?</span></p>
        <button>more</button>

    </div>

    <div class="mydiv">
        <img src=" {% static 'assets/img_2.png' %}" alt="">
        <h3>Watch1</h3>
        <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda dolore, eaque eos impedit ipsum molestias odio sequi tempora? Aperiam ipsa iure molestiae quos sed! Ex expedita iste nisi quia voluptatem!</span><span>Ab aliquam amet at expedita hic inventore, magnam minus nobis nulla officia placeat, porro reiciendis tenetur, velit voluptatum. Quibusdam, ratione ut? Dolore doloremque eius, eligendi mollitia nesciunt quia quibusdam totam?</span></p>
        <button>more</button>
</div>
    <div class="mydiv" >
        <img src=" {% static 'assets/img_3.png' %}" alt="">
        <h3>Watch1</h3>
        <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda dolore, eaque eos impedit ipsum molestias odio sequi tempora? Aperiam ipsa iure molestiae quos sed! Ex expedita iste nisi quia voluptatem!</span><span>Ab aliquam amet at expedita hic inventore, magnam minus nobis nulla officia placeat, porro reiciendis tenetur, velit voluptatum. Quibusdam, ratione ut? Dolore doloremque eius, eligendi mollitia nesciunt quia quibusdam totam?</span></p>
        <button>more</button></div>




</div>




</body>
</html>