<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gallary</title>
    {% load static %}

</head>
<body>
<h1>Products offered at shopdish</h1>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam animi corporis delectus dolorem eligendi, eum exercitationem in iure iusto minima modi nesciunt nostrum odio, omnis pariatur provident quidem repudiandae sed?</span><span>Assumenda culpa quasi saepe. Amet deleniti odio tempora tenetur voluptatem? Commodi corporis hic iste neque odio, voluptate. Aliquam consectetur, cum cupiditate dignissimos eligendi error inventore magni nisi non odio voluptas!</span><span>At cumque debitis delectus dignissimos dolorem doloremque dolores in ipsam laboriosam, magni minus nam natus nemo pariatur perspiciatis praesentium quia quo, quod recusandae reprehenderit repudiandae sapiente sunt tempore voluptas voluptatibus!</span></p>
<img src="{% static 'assets/Car1.jpeg' %}" alt="">
<img src="{% static 'assets/Car8.jpeg' %}" alt="">
<img src="{% static 'assets/Car3.jpeg' %}" alt="">
<img src="{% static 'assets/Car7.jpeg' %}" alt="">
<img src="{% static 'assets/Car4.jpeg' %}" alt="">
<img src="{% static 'assets/Car1.jpeg' %}" alt="">
</body>
</html>